<h2>Gallery</h2>
<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <ul>
                    <li *ngFor="let image of images | async" class="img">
                        <a [routerLink]="['/image', image.$key]">
                            <img src="{{image.url}}">
                        </a>
                        <div class="card-content">
                            <h5>Uploaded By: {{image.uploadedBy}}</h5>
                            <h5>Uploaded On: {{image.uploadedOn}}</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>