<!-- <form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">

    <h3>New User Signup</h3>

    <label for="email">Email</label>
    <input type="email" id="email" class="input" formControlName="email" required>

    <label for="password">Password</label>
    <input type="password" id="password" class="input" formControlName="password" required>

    <button type="submit" class="button">Submit</button>
</form> -->
<h2>Email and Password Login</h2>
<div class="row">
    <form class="col s12" (ngSubmit)="signup(formData)" #formData='ngForm'>
        <div class="row">
            <div class="input-field col s6">
                <input type="email" (ngModel)="email" #email="ngModel" name="email" class="validate" required pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$">
                <label for="email">Email Address</label>
            </div>
            <div class="input-field col s6">
                <input type="password" (ngModel)="password" #password="ngModel" name="password" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
        <input type="button" class="waves-effect waves-light btn-large" (click)="signup(formData)" value="Log in" [disabled]="!formData.valid">
        <a routerLink="/signup" class="alc ">Don't have an account?</a>
    </form>
</div>

<!-- <div class="form-container ">
    <h2>Email and Password Login</h2>

    <span class="error " *ngIf="error " [@fallIn]='state'>{{ error }}</span>

    <form #formData='ngForm' (ngSubmit)="signup(formData) ">

        <input type="text " placeholder="Email address.. " (ngModel)="email " name="email " class="txt " required>
        <input type="password " placeholder="Password " (ngModel)="password " name="password " class="txt " required>

        <button type="submit " [disabled]="!formData.valid " class="basic-btn ">Log in</button>
        <a routerLink="/signup " class="alc ">Don't have an account?</a>
    </form>
</div> -->