<div class="form-container">
    <a routerLink="/login" id="goback">Go back</a>

    <h2>Join now</h2>
</div>

<form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">

    <h3>New User Signup</h3>

    <label for="email">Email</label>
    <input type="email" id="email" class="input" formControlName="email" required>

    <label for="password">Password</label>
    <input type="password" id="password" class="input" formControlName="password" required>

    <button type="submit" class="button">Submit</button>
</form>