<!-- <nav class="navbar navbar-light bg-faded">
    <form class="form-inline">
        <button class="btn btn-outline-success" type="button">Main button</button>
        <button class="btn btn-outline-success" type="button">Main button</button>
        <button class="btn btn-outline-success" type="button">Main button</button>
        <button class="btn btn-outline-success" type="button">Main button</button>
    </form>
</nav> -->

<h2>
    <ul>
        <li><a [routerLink]="[ '/home' ]">Go Home</a></li>
        <li><a [routerLink]="[ '/login' ]">Go To Login Page</a></li>
        <li><a [routerLink]="[ '/signup' ]">Create Account</a></li>
    </ul>
</h2>